<div class="categories-container">
    <!-- {# Boucle sur chaque cocktail dans la liste "categories" #} -->
    {% for categories in categories %}
        <div class="categories">

          <!-- {# Affichage de l'image du cocktail #} -->
            <img src="{{ categories.image }}" alt="Image de {{ categories.nom }}">

            <!-- {# Lien vers la page de détail du categories avec passage de l'ID en GET #} -->
            <a href="{{ path('categories', {'id' : categories.id }) }}">Voir le détail des nouveaux cocktails</a>

            <!-- {# Titre avec le nom du cocktail #} -->
            <h2>{{ categories.nom }}</h2>

            <div class="ingredients">
               
        </div>

            
        </div>



    {% endfor %}
</div>