<div class="categories-container">
    <!-- {# Boucle sur chaque cocktail dans la liste "categories" #} -->
    {% for categorie in categories %}
        <div class="categories">

          <!-- {# Affichage de l'image du cocktail #} -->
            <img src="{{ categorie.image }}" alt="Image de {{ categorie.nom }}">

            <!-- {# Lien vers la page de détail du categories avec passage de l'ID en GET #} -->
            <a href="{{ path('singlecategorie', {'id' : categorie.id }) }}">Voir le détail des nouvelles catégories de cocktails</a>

            <!-- {# Titre avec le nom du cocktail #} -->
            <h2>{{ categorie.nom }}</h2>

            <div class="ingredients">
               
        </div>

            
        </div>



    {% endfor %}
</div>