	<aside class="sidebar">

	<div class="sidebar">
        <a href="{{ path('home') }}">Voir tous les cocktails</a>
        <a href="#services">Services</a>
        <a href="#about">À propos</a>
        <a href="#contact">Contact</a>
    </div>

	</aside>