	<aside class="sidebar">

	<div class="sidebar">
        <a href="{{ path('home') }}">Voir tous les cocktails</a>
        <a href="{{ path('categories') }}">Voir les nouvelles categories de  cocktails</a>
        
    </div>

	</aside>