<!DOCTYPE html>
<html>
<head>
	<title>Cocktail</title>
<link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
</head>

<body>

	<header>

			<nav>

			<ul>
				
				<a href="{{ path('home') }}">Voir les recettes de cocktails</a>
				

			</ul>

		</nav>
       
		

	</header>