<!DOCTYPE html>
<html>
<head>
	<title>Cocktail</title>
<link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
</head>

<body>

	<header>
    <div class="header-container">
        <div class="header-message">Bienvenue sur notre site de cocktails</div>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Voir TOUS les cocktails</a></li>
            </ul>
        </nav>
    </div>
</header>