<!DOCTYPE html>
<html>
<head>
	<title>Cocktail de ouf</title>
<link rel="stylesheet" href="{{ asset('assets/style.css') }}" />
</head>

<body>

	<header>
    <div class="header">
       
                <li><a href="{{ path('home') }}">Voir TOUS les cocktails</a></li>
                <li><a href="{{ path('categories') }}">Voir les  nouveaux cocktails</a></li>
                <li><a href="{{ path('create-cocktail') }}">Creer un nouveau cocktails</a></li>
           
    </div>
</header>