
{% extends 'base.html.twig' %}


{% block metatitle %}
	Les catégories de cocktails
{% endblock metatitle %}



{% block main %}

<h1>Recettes de nouvelles categories cocktails</h1>



{% include 'partials/pageAccueil/_loop-categories.html.twig' %}


{% endblock main %}