
{% extends 'base.html.twig' %}


{% block metatitle %}
	Les meilleurs cocktails de Merignac
{% endblock metatitle %}



{% block main %}

<h1>Recettes de Cocktails</h1>

{% include 'partials/pageAccueil/_loop-cocktails.html.twig' %}




{% endblock main %}